:root {
  --color-contrast-higher: #1B3550;
}

@import url("//hello.myfonts.net/count/39f5e2");

@font-face {
  font-family: "cp";
  src: url("39F5E2_3_0.eot");
  src: url("39F5E2_3_0.eot?#iefix") format("embedded-opentype"),
    url("39F5E2_3_0.woff2") format("woff2"),
    url("39F5E2_3_0.woff") format("woff"),
    url("39F5E2_3_0.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "cp";
  src: url("39F5E2_5_0.eot");
  src: url("39F5E2_5_0.eot?#iefix") format("embedded-opentype"),
    url("39F5E2_5_0.woff2") format("woff2"),
    url("39F5E2_5_0.woff") format("woff"),
    url("39F5E2_5_0.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: "cp";
  src: url("39F5E2_6_0.eot");
  src: url("39F5E2_6_0.eot?#iefix") format("embedded-opentype"),
    url("39F5E2_6_0.woff2") format("woff2"),
    url("39F5E2_6_0.woff") format("woff"),
    url("39F5E2_6_0.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "cp";
  src: url("39F5E2_9_0.eot");
  src: url("39F5E2_9_0.eot?#iefix") format("embedded-opentype"),
    url("39F5E2_9_0.woff2") format("woff2"),
    url("39F5E2_9_0.woff") format("woff"),
    url("39F5E2_9_0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html, body,
.blockquote, .heading, .rte blockquote, .rte h1, .rte h2, .rte h3, .rte h4, .rte h5, .rte h6 {
  font-family: "cp", Frutiger, "Frutiger Linotype", Univers, Calibri,
  "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed",
  "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue",
  Helvetica, Arial, sans-serif !important;
  font-feature-settings: "pnum" on, "lnum" on, "ss01" on !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-contrast-higher)
}

h1, h2, h3, h4 {
  font-weight: 900 !important;
  letter-spacing: -0.03em !important;
  color: var(--color-contrast-higher)
}

.slideshow h1,.slideshow h2,.slideshow h3,.slideshow h4, footer .heading, .image-overlay h1, .image-overlay h2 {
  color: #fff
}


@media (min-width: 1000px) {
  .cb-slide-container {
  max-width: 100% !important;
  }
}

.product-item-meta h3 {
  margin-bottom: 0;
}

.gift-card__amount, .price--highlight{
  color: var(--color-contrast-higher);
  font-weight: 700;
}


.mobile-img {
  width: 100vw;
}
@media screen and (min-width: 767px) {
  .mobile-img {
    display: none !important;
  }
}
.desktop-img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .desktop-img {
    display: none !important;
  }
  .feature-row img {
    max-height: 420px; 
  }
}

@media screen and (min-width: 767px) {
  .feature-row {
    height: 420px; 
  }
}

.input__field {
  background-color: #fff;
}

/* PLP
============ */
.violator {
  background-color: #D9E8F2;
  color:#1B3550;
  font-weight: 500;
}

.product-item {
  filter: brightness(.95);
  -webkit-filter: brightness(.95);
}

/* PDP 
=========== */
.pulse, .shine, [fill-rule="evenodd"] {
  fill: #C75724
}

.product-meta__share,
.shopify-payment-button {
  display: none;
}

.bg-contrast-lower {
  background-color: #f5f5f5 !important;
}

.vw-cmp__top-heading--title {
  font-family: "cp", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
font-feature-settings: "pnum" on, "lnum" on, "ss01" on !important;
font-size: var(--heading-h2-font-size);
}

.gradient-text {
  background: -webkit-linear-gradient(#59d5f9, var(--color-primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Support
=========== */
.mobile-hide-template--14303051219038__1654533357242c5b7c {
  display: flex !important;
  justify-content: center;
}